//
//  Secrets.xcconfig
//  TheMovieDB
//
//  Created by Fede Flores on 12/03/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 3bed819ad59b183cb490cf6d9d6a08d5
ACCESS_TOKEN = Bearer  eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzYmVkODE5YWQ1OWIxODNjYjQ5MGNmNmQ5ZDZhMDhkNSIsInN1YiI6IjY1OTg0YTA4MGQxMWYyMDIwMmVhMTdiNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3AK4k6E2bEnDGH0AVSiI-7vYU9jopiIs2Oj1Ym_Aeew
